body{
    background-image: url(coringa\ de\ fundo.jpeg);
}

h1{
    color: blueviolet;
    font-family:cursive;
    font-weight: bolder;
}
 
a{
    font-family: monospace;
    font-size: 2rem;
    color: chartreuse;
}